/* Container principal do cadastro */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilo do título */
form h1 {
  font-size: 2rem;
  color: #003366;
  margin-bottom: 1.5rem;
}

/* Estilos dos campos de input */
form input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem; /* Espaço entre os campos */
}

/* Estilo do botão de cadastro */
form button {
  width: 100%;
  padding: 1rem;
  background-color: #003366;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #001f3f;
}

/* Estilo para links ou texto extra */
form p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #333;
}
