*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-image: url('https://revistaforum.com.br/u/fotografias/m/2023/2/15/f960x540-97293_171368_5050.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* Adicionando transparência */
  background-color: rgba(200, 255, 255, 0.3); /* Cor branca com 50% de opacidade */
  background-blend-mode: overlay; /* Mistura a cor e a imagem */
}